/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio / IDE cache
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pid
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity specific
sysinfo.txt
*.stackdump
